.favorite {
  background-color: #171717;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #d1fd0a;
  font-family: "Arial", sans-serif;
  padding: 80px 0 0;
}

.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  animation: smoothAppear 2s;
  animation-fill-mode: forwards;
  font-size: 1.8vw;
  color: #d1fd0a;
  transition: all 0.3s ease;
  font-size: 2.5rem;
  margin: 10px 0;
}

@keyframes smoothAppear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.username {
  font-weight: bold;
  color: #d1fd0a;
}

.typing-1,
.typing-2 {
  display: block;
  font-size: 2.5rem;
  margin: 10px 0;
  text-align: center;
}

h1 {
  font-size: 30px;
  margin-bottom: 50px;
  margin-left: 50px;
  text-align: left;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 15px;
  margin-left: 50px;
  max-width: 90%;
}

.tag-button {
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
  display: inline-block;
}

.tag-button.selected {
  background-color: #d1fd0a;
  color: black;
  border: none;
}

.tag-button.selected:hover {
  background-color: #d1fd0a; /* 유지하려는 기존 배경색 */
  color: black; /* 유지하려는 기존 텍스트 색상 */
  border: none; /* 유지하려는 기존 테두리 */
  cursor: default; /* 선택된 상태에서 포인터 변경 */
}

.tag-button:hover {
  background-color: #333;
}

.next-button {
  padding: 10px 20px;
  margin: 50px auto;
  display: block;
  background-color: #d1fd0a;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.next-button:hover {
  background-color: #c5ea09;
}
