.my-channel-container {
  padding: 80px 50px 0;
  font-family: "Poppins", Arial, sans-serif;
  background: linear-gradient(to bottom, #0f0f0f, #1a1a1a);
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}

.input-section h1 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 0;
}
.input-section input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-section button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-section button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.input-section button:hover {
  background-color: #45a049;
}

.input-section button:disabled {
  background-color: #444;
  cursor: not-allowed;
}

/* ------------------------- */
.channel-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* 높이 같게 */
  gap: 30px;
}

/* 채널 목록 스타일 */
.channel-list {
  flex: 0 0 30%;
  padding: 20px;
  background: linear-gradient(135deg, #1e1e1e, #292929);
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.channel-list ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.channel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding-bottom: 15px;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

.channel-item h2 {
  font-size: 50px;
  color: #f4f4f4;
  margin-bottom: 10px;
}

.channel-item p {
  font-size: 18px;
  color: #c4c4c4;
}

.channel-item img {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 12px;
  object-fit: cover;
  width: 100%;
  max-width: 300px;
}

/* 채널 통계 스타일 */
.acc-stats {
  flex: 0 0 70%;
  padding: 30px;
  background: linear-gradient(135deg, #1e1e1e, #292929);
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  color: #f9f9f9;
}

.acc-stats .acc-stats-title {
  font-size: 50px;
}

.date-filter {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.date-filter label {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  color: #cfcfcf;
}

.date-filter input {
  padding: 8px;
  border: 1px solid #555;
  border-radius: 6px;
  background-color: #222;
  color: white;
}

.chart-controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.chart-controls label {
  margin-right: 20px;
  display: flex;
  align-items: center;
  color: #cfcfcf;
}

.chart-controls input {
  margin-right: 10px;
}

.video-preview {
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

.video-preview img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 10px;
}

.video-preview h4 {
  margin-top: 10px;
  font-size: 20px;
  color: #ffffff;
}

/* 애니메이션 효과 */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* 높이 같게 */
  gap: 30px;

  background: linear-gradient(to bottom, #0f0f0f, #1a1a1a);
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  color: #f9f9f9;
  min-height: 380px; /* 최소 높이 설정 */
  height: auto;
}

/* 왼쪽: 동영상별 통계 */
.statistics-section {
  flex: 0 0 65%; /* 왼쪽 섹션의 너비 */
  padding: 20px;
  height: 100%; /* 부모 높이 따라가기 */
  background: #1e1e1e;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.statistics-section h2 {
  font-size: 50px;
  margin-bottom: 20px;
  color: white;
}

/* 오른쪽: 영상 프리뷰 */
.video-preview-section {
  flex: 0 0 30%; /* 오른쪽 섹션의 너비 */
  height: 100%;
  padding: 20px;
  background: #1e1e1e;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.video-preview-section img {
  width: 100%;
  max-width: 400px; /* 최대 너비 */
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 10px;
}

.video-preview-section h4 {
  font-size: 18px;
  color: #ffffff;
  margin-top: 10px;
}

.video-preview-section button {
  padding: 10px 20px;
  background-color: #d1fd0a;
  color: #171717;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  margin-bottom: 10px;
}

.video-preview-section button:hover {
  opacity: 80%;
}

/* 반응형 처리 */
@media (max-width: 768px) {
  .statistics-container {
    flex-direction: column; /* 세로로 배치 */
    gap: 20px;
  }

  .statistics-section,
  .video-preview-section {
    flex: 1; /* 동일한 너비 */
  }
}
